.reveal h1 { font-size: 3em; }

.reveal h2 { margin-bottom: 100px; }

.reveal .slides {
    text-align: left;
}

.reveal .text-center {
    text-align: center;
}

.reveal .orange {
    color: orange;
}

.reveal .short {
    margin-bottom: 0px;
}